#top2{
	width:980px;
	text-align:left;
	margin:0 auto;
	}
#top2_table{
	width:100%;
	}
#top2_left{
	width:12px;
	background-image:url(../images/top2_left_bg.gif);
	}
#top2_right{
	width:12px;
	background-image:url(../images/top2_right_bg.gif);
	}
#top2_bottom{
	background-image:url(../images/top2_bottom_bg.gif);
	}
#top2_left_content{
	padding-top:10px;
	padding-right:5px;
	}
#top2_right_content{
	padding-left:5px;
	width:800px;
	padding-top:10px;
	}
